@model MediaPlannerCore.Model.Models.AdSet

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="CampaignId" value="@ViewBag.CampaignId" />
                @*<select asp-for="CampaignId" class ="form-control" asp-items="ViewBag.CampaignId"></select>*@
            </div>
            <div class="form-group">
                <label asp-for="MediaChannelId" class="control-label"></label>
                <select asp-for="MediaChannelId" class ="form-control" asp-items="ViewBag.MediaChannelId">
                    <option>Select Media Channel</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="SupplierId" class="control-label"></label>
                <select asp-for="SupplierId" class ="form-control" asp-items="ViewBag.SupplierId">
                    <option>Select Supplier</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-id="@ViewBag.CampaignId">Back to List</a>
</div>

