@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
</div>
<div class="jumbotron" style="background-image: url('img/ads_bg.jpeg');background-size:100%;height:500px;width:100%;opacity:0.5">
</div>
<h3 style="color:white;font-weight:bold;color:darkorange">MEDIA PLANNER</h3>
<p>
    Media Planner helps to manage online advertising.<br />
    This system provides the complete service for advertiser to introduce their products and services into online market. <br />
    Media Planner system will give the solution of all problems that comes in online marketing
</p>
